<div class="form-group">
	<label for="mName" class="col-sm-2 control-label">Meeting</label>
	<div class="col-sm-10">
		<input type="text" ng-model="meeting.mName" class="form-control"
			id="mName" placeholder="Meeting Subject here..." />
	</div>
</div>
<div class="form-group">
	<label for="startTime" class="col-sm-2 control-label">Start</label>
	<div class="col-sm-10">
		<input ng-model="meeting.startTime" datetime-picker="" size="30"
			class="form-control" id="startTime" placeholder="Start Date time.." />
	</div>
</div>
<div class="form-group">
	<label for="endTime" class="col-sm-2 control-label">End</label>
	<div class="col-sm-10">
		<input ng-model="meeting.endTime" datetime-picker="" size="30"
			class="form-control" id="endTime" placeholder="End date time.." />
	</div>
</div>
<div class="form-group">
	<label for="attendants" class="col-sm-2 control-label">Attendants</label>
	<div class="col-sm-10">
<!-- 		<multiselect style="width: 400px" class="form-control" ng-model="meeting.attendants" 
			data-multiple="true" options="person.name for person in employees"
			id="attendants" > </multiselect> -->
		<!-- <div ng-dropdown-multiselect="" options="employees" selected-model="meeting.attendants"></div> -->	
		<select class="form-control" ng-model="attendants"
			ng-options="person.name for person in employees track by person.id">
				<option value="">-- Select Attendants --</option>
		</select>
		
	</div>
</div>
<div class="form-group">
	<label for="rooms" class="col-sm-2 control-label">Location</label>
	<div class="col-sm-10">
		<select class="form-control" ng-model="rom"
			ng-options="room.rName for room in rooms">
				<option value="">-- Select --</option>
		</select>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<input type="submit" class="btn btn-primary" value="Save" />
	</div>
</div>
